
resnet_dist.pth


__pycache__/dataLoader.cpython-38.pyc
snapshot.pth
example/tutorial/result/traintrain.log
example_01_resnet/tutorial/result/traintrain.log
example_01_resnet/model/__pycache__/resnet.cpython-38.pyc
example_01_resnet/__pycache__/utils.cpython-38.pyc
example_01_resnet/result/train.log
example_01/model/__pycache__/resnet.cpython-38.pyc
example_01/result/train.log
example_01/__pycache__/utils.cpython-38.pyc
example_01/tutorial/result/traintrain.log
example_01/result/snapshot.pt
example_01/model/__pycache__/vit.cpython-38.pyc
example_01/result/resnet/train.log
example_01/result/resnet_0005/snapshot.pt
example_01/result/resnet_0005/train.log
example_01/result/resnet_64/snapshot.pt
example_01/__pycache__/csv.cpython-38.pyc
example_01/result/resnet_64/train.log
example_01/result/resnet_snapshot.pt/train.log
example_01/result/train/snapshot.pt
example_01/result/train/train.log
example_01/result/vit01/train.log
example_01/result/vit02/train.log
example_01/save/result/train/snapshot.pt
example_01/save/result/train/train.log
example_01/result
example_01/wandb
example_01/wandb/debug-cli.jiwon.log
example_01/wandb/debug-internal.log
example_01/wandb/debug.log
example_01/wandb/latest-run
example_01/wandb/run-20230207_114114-eqrl205z/run-eqrl205z.wandb
example_01/wandb/run-20230207_114114-eqrl205z/files/conda-environment.yaml
example_01/wandb/run-20230207_114114-eqrl205z/files/config.yaml
example_01/wandb/run-20230207_114114-eqrl205z/files/output.log
example_01/wandb/run-20230207_114114-eqrl205z/files/requirements.txt
example_01/wandb/run-20230207_114114-eqrl205z/files/wandb-metadata.json
example_01/wandb/run-20230207_114114-eqrl205z/files/wandb-summary.json
example_01/wandb/run-20230207_114114-eqrl205z/logs/debug-internal.log
example_01/wandb/run-20230207_114114-eqrl205z/logs/debug.log
example_01/wandb/run-20230207_114114-nrp21exo/run-nrp21exo.wandb
example_01/wandb/run-20230207_114114-nrp21exo/files/conda-environment.yaml
example_01/wandb/run-20230207_114114-nrp21exo/files/config.yaml
example_01/wandb/run-20230207_114114-nrp21exo/files/output.log
example_01/wandb/run-20230207_114114-nrp21exo/files/requirements.txt
example_01/wandb/run-20230207_114114-nrp21exo/files/wandb-metadata.json
example_01/wandb/run-20230207_114114-nrp21exo/files/wandb-summary.json
example_01/wandb/run-20230207_114114-nrp21exo/logs/debug-internal.log
example_01/wandb/run-20230207_114114-nrp21exo/logs/debug.log
example_01/wandb/run-20230207_114436-uyqfeytx/run-uyqfeytx.wandb
example_01/wandb/run-20230207_114436-uyqfeytx/files/conda-environment.yaml
example_01/wandb/run-20230207_114436-uyqfeytx/files/config.yaml
example_01/wandb/run-20230207_114436-uyqfeytx/files/output.log
example_01/wandb/run-20230207_114436-uyqfeytx/files/requirements.txt
example_01/wandb/run-20230207_114436-uyqfeytx/files/wandb-metadata.json
example_01/wandb/run-20230207_114436-uyqfeytx/files/wandb-summary.json
example_01/wandb/run-20230207_114436-uyqfeytx/logs/debug-internal.log
example_01/wandb/run-20230207_114436-uyqfeytx/logs/debug.log
example_01/wandb/run-20230207_114437-vw4gv09e/run-vw4gv09e.wandb
example_01/wandb/run-20230207_114437-vw4gv09e/files/conda-environment.yaml
example_01/wandb/run-20230207_114437-vw4gv09e/files/config.yaml
example_01/wandb/run-20230207_114437-vw4gv09e/files/output.log
example_01/wandb/run-20230207_114437-vw4gv09e/files/requirements.txt
example_01/wandb/run-20230207_114437-vw4gv09e/files/wandb-metadata.json
example_01/wandb/run-20230207_114437-vw4gv09e/files/wandb-summary.json
example_01/wandb/run-20230207_114437-vw4gv09e/logs/debug-internal.log
example_01/wandb/run-20230207_114437-vw4gv09e/logs/debug.log
example_01/wandb/run-20230207_114540-zw9e0k9i/run-zw9e0k9i.wandb
example_01/wandb/run-20230207_114540-zw9e0k9i/files/conda-environment.yaml
example_01/wandb/run-20230207_114540-zw9e0k9i/files/config.yaml
example_01/wandb/run-20230207_114540-zw9e0k9i/files/output.log
example_01/wandb/run-20230207_114540-zw9e0k9i/files/requirements.txt
example_01/wandb/run-20230207_114540-zw9e0k9i/files/wandb-metadata.json
example_01/wandb/run-20230207_114540-zw9e0k9i/files/wandb-summary.json
example_01/wandb/run-20230207_114540-zw9e0k9i/logs/debug-internal.log
example_01/wandb/run-20230207_114540-zw9e0k9i/logs/debug.log
example_01/wandb/run-20230207_114542-uy20sti2/run-uy20sti2.wandb
example_01/wandb/run-20230207_114542-uy20sti2/files/conda-environment.yaml
example_01/wandb/run-20230207_114542-uy20sti2/files/config.yaml
example_01/wandb/run-20230207_114542-uy20sti2/files/output.log
example_01/wandb/run-20230207_114542-uy20sti2/files/requirements.txt
example_01/wandb/run-20230207_114542-uy20sti2/files/wandb-metadata.json
example_01/wandb/run-20230207_114542-uy20sti2/files/wandb-summary.json
example_01/wandb/run-20230207_114542-uy20sti2/logs/debug-internal.log
example_01/wandb/run-20230207_114542-uy20sti2/logs/debug.log
example_01/wandb/run-20230207_114830-60xvafna/run-60xvafna.wandb
example_01/wandb/run-20230207_114830-60xvafna/files/conda-environment.yaml
example_01/wandb/run-20230207_114830-60xvafna/files/config.yaml
example_01/wandb/run-20230207_114830-60xvafna/files/output.log
example_01/wandb/run-20230207_114830-60xvafna/files/requirements.txt
example_01/wandb/run-20230207_114830-60xvafna/files/wandb-metadata.json
example_01/wandb/run-20230207_114830-60xvafna/files/wandb-summary.json
example_01/wandb/run-20230207_114830-60xvafna/logs/debug-internal.log
example_01/wandb/run-20230207_114830-60xvafna/logs/debug.log
example_01/wandb/run-20230207_114830-va7c8fwb/run-va7c8fwb.wandb
example_01/wandb/run-20230207_114830-va7c8fwb/files/conda-environment.yaml
example_01/wandb/run-20230207_114830-va7c8fwb/files/config.yaml
example_01/wandb/run-20230207_114830-va7c8fwb/files/output.log
example_01/wandb/run-20230207_114830-va7c8fwb/files/requirements.txt
example_01/wandb/run-20230207_114830-va7c8fwb/files/wandb-metadata.json
example_01/wandb/run-20230207_114830-va7c8fwb/files/wandb-summary.json
example_01/wandb/run-20230207_114830-va7c8fwb/logs/debug-internal.log
example_01/wandb/run-20230207_114830-va7c8fwb/logs/debug.log
example_01/wandb/run-20230207_142349-fc5b0y4v/run-fc5b0y4v.wandb
example_01/wandb/run-20230207_142349-fc5b0y4v/files/conda-environment.yaml
example_01/wandb/run-20230207_142349-fc5b0y4v/files/config.yaml
example_01/wandb/run-20230207_142349-fc5b0y4v/files/output.log
example_01/wandb/run-20230207_142349-fc5b0y4v/files/requirements.txt
example_01/wandb/run-20230207_142349-fc5b0y4v/files/wandb-metadata.json
example_01/wandb/run-20230207_142349-fc5b0y4v/files/wandb-summary.json
example_01/wandb/run-20230207_142349-fc5b0y4v/logs/debug-internal.log
example_01/wandb/run-20230207_142349-fc5b0y4v/logs/debug.log
example_01/wandb/run-20230207_142350-4l44nwh6/run-4l44nwh6.wandb
example_01/wandb/run-20230207_142350-4l44nwh6/files/conda-environment.yaml
example_01/wandb/run-20230207_142350-4l44nwh6/files/config.yaml
example_01/wandb/run-20230207_142350-4l44nwh6/files/output.log
example_01/wandb/run-20230207_142350-4l44nwh6/files/requirements.txt
example_01/wandb/run-20230207_142350-4l44nwh6/files/wandb-metadata.json
example_01/wandb/run-20230207_142350-4l44nwh6/files/wandb-summary.json
example_01/wandb/run-20230207_142350-4l44nwh6/logs/debug-internal.log
example_01/wandb/run-20230207_142350-4l44nwh6/logs/debug.log
example_01/wandb/run-20230207_142448-xolwsgqr/run-xolwsgqr.wandb
example_01/wandb/run-20230207_142448-xolwsgqr/files/conda-environment.yaml
example_01/wandb/run-20230207_142448-xolwsgqr/files/config.yaml
example_01/wandb/run-20230207_142448-xolwsgqr/files/output.log
example_01/wandb/run-20230207_142448-xolwsgqr/files/requirements.txt
example_01/wandb/run-20230207_142448-xolwsgqr/files/wandb-metadata.json
example_01/wandb/run-20230207_142448-xolwsgqr/files/wandb-summary.json
example_01/wandb/run-20230207_142448-xolwsgqr/logs/debug-internal.log
example_01/wandb/run-20230207_142448-xolwsgqr/logs/debug.log
example_01/wandb/run-20230207_142448-yhl7q2bm/run-yhl7q2bm.wandb
example_01/wandb/run-20230207_142448-yhl7q2bm/files/conda-environment.yaml
example_01/wandb/run-20230207_142448-yhl7q2bm/files/config.yaml
example_01/wandb/run-20230207_142448-yhl7q2bm/files/output.log
example_01/wandb/run-20230207_142448-yhl7q2bm/files/requirements.txt
example_01/wandb/run-20230207_142448-yhl7q2bm/files/wandb-metadata.json
example_01/wandb/run-20230207_142448-yhl7q2bm/files/wandb-summary.json
example_01/wandb/run-20230207_142448-yhl7q2bm/logs/debug-internal.log
example_01/wandb/run-20230207_142448-yhl7q2bm/logs/debug.log
example_01/csv.py
example_01/model/transformer.py
example_01/result/vit03log_csv.csv
.gitignore
example_01/result/vit05log_csv.csv
example_01/result/vit02/snapshot.pt
example_01/result/vit03/snapshot.pt
example_01/result/vit03/train.log
example_01/result/vit04/snapshot.pt
example_01/result/vit04/train.log
example_01/result/vit05/snapshot.pt
example_01/result/vit05/train.log
example_01/wandb/run-20230207_144008-92riyima/run-92riyima.wandb
example_01/wandb/run-20230207_144008-92riyima/files/conda-environment.yaml
example_01/wandb/run-20230207_144008-92riyima/files/config.yaml
example_01/wandb/run-20230207_144008-92riyima/files/output.log
example_01/wandb/run-20230207_144008-92riyima/files/requirements.txt
example_01/wandb/run-20230207_144008-92riyima/files/wandb-metadata.json
example_01/wandb/run-20230207_144008-92riyima/files/wandb-summary.json
example_01/wandb/run-20230207_144008-92riyima/logs/debug-internal.log
example_01/wandb/run-20230207_144008-92riyima/logs/debug.log
example_01/wandb/run-20230207_144008-jhmnc7cd/run-jhmnc7cd.wandb
example_01/wandb/run-20230207_144008-jhmnc7cd/files/conda-environment.yaml
example_01/wandb/run-20230207_144008-jhmnc7cd/files/config.yaml
example_01/wandb/run-20230207_144008-jhmnc7cd/files/output.log
example_01/result/vit03/snapshot.pt
example_01/result/vit03/train.log
example_01/result/vit04/snapshot.pt
example_01/result/vit04/train.log
example_01/result/vit05/snapshot.pt
example_01/result/vit05/train.log
example_01/wandb/run-20230207_144008-92riyima/run-92riyima.wandb
example_01/wandb/run-20230207_144008-92riyima/files/conda-environment.yaml
example_01/wandb/run-20230207_144008-92riyima/files/config.yaml
example_01/wandb/run-20230207_144008-92riyima/files/output.log
example_01/wandb/run-20230207_144008-92riyima/files/requirements.txt
example_01/wandb/run-20230207_144008-92riyima/files/wandb-metadata.json
example_01/wandb/run-20230207_144008-92riyima/files/wandb-summary.json
example_01/wandb/run-20230207_144008-92riyima/logs/debug-internal.log
example_01/wandb/run-20230207_144008-92riyima/logs/debug.log
example_01/wandb/run-20230207_144008-jhmnc7cd/run-jhmnc7cd.wandb
example_01/wandb/run-20230207_144008-jhmnc7cd/files/conda-environment.yaml
example_01/wandb/run-20230207_144008-jhmnc7cd/files/config.yaml
example_01/wandb/run-20230207_144008-jhmnc7cd/files/output.log
example_01/wandb/run-20230207_144008-jhmnc7cd/files/requirements.txt
example_01/result/vit03/snapshot.pt
example_01/result/vit03/train.log
example_01/result/vit04/snapshot.pt
example_01/result/vit04/train.log
example_01/result/vit05/snapshot.pt
example_01/result/vit05/train.log
example_01/wandb/run-20230207_144008-92riyima/run-92riyima.wandb
example_01/wandb/run-20230207_144008-92riyima/files/conda-environment.yaml
example_01/wandb/run-20230207_144008-92riyima/files/config.yaml
example_01/wandb/run-20230207_144008-92riyima/files/output.log
example_01/wandb/run-20230207_144008-92riyima/files/requirements.txt
example_01/wandb/run-20230207_144008-92riyima/files/wandb-metadata.json
example_01/wandb/run-20230207_144008-92riyima/files/wandb-summary.json
example_01/wandb/run-20230207_144008-92riyima/logs/debug-internal.log
example_01/wandb/run-20230207_144008-92riyima/logs/debug.log
example_01/wandb/run-20230207_144008-jhmnc7cd/run-jhmnc7cd.wandb
example_01/wandb/run-20230207_144008-jhmnc7cd/files/conda-environment.yaml
example_01/wandb/run-20230207_144008-jhmnc7cd/files/config.yaml
example_01/wandb/run-20230207_144008-jhmnc7cd/files/output.log
example_01/wandb/run-20230207_144008-jhmnc7cd/files/requirements.txt
example_01/csv_1.py
example_01/result/save/result/train/train.log
